<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
    <div id='correo-registro' style="padding: 53.9px 66px; display: flex;">
        <img src='https://babysos.pe/images/correos/registro.png' style="marginRight: 19px; width: 186px; height: 212px;"/>
        <div style="align-self: center;">
            <p style="font-size: 20px; font-weight: bold; line-height: 22px; margin-bottom: 0;">¡Hola {{nombres}}!</p>
            <p style="font-size: 20px; font-weight: bold; line-height: 22px; margin-bottom: 19.3px;">Un último paso...</p>
            <p style="font-size: 12px; margin-bottom: 0;">Para completar el registro de su cuenta de Baby</p>
            <p style="font-size: 12px; margin-bottom: 0;">SOS, debe confirmar su dirección de correo</p>
            <p style="font-size: 12px; margin-bottom: 8px;">electrónico haciendo clic en el siguiente enlace:</p>
            <button style="width: 137.02px; height: 20.15px; font-size: 12px; margin-bottom: 8px; cursor: pointer; background: #bb8bff; borderRadius: 50rem; border: 0;">Click para confirmar</button>
            <p style="font-size: 12px; margin-bottom: 0;">Muchas gracias.</p>
            <p style="font-size: 12px; margin-bottom: 0;">El equipo de Baby SOS.</p>
        </div>
    </div>
</body>
</html>