<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Welcome Email</title>
    </head>
    <body>
        <div>
            <div style="background-color:rgb(187, 139, 255); height: 71.08px; width: 600px; text-align: center; ">
                <img src='https://babysos.pe/images/barramenu/logo.png' style="width: 184.87px; height: 33.71px; margin: 18.685px 0px;"/>
            </div>
            <div style="padding: 53.9px 66px;">
                <div style="display: flex; flex-wrap: wrap; margin-bottom: 29px;">
                    <div style="align-self: center;">
                        <img src='https://babysos.pe/images/correos/registro.png' style="margin-right: 19px; width: 186px; height: 212px;"/>
                    </div>
                    <div style="align-self: center; padding: 6.83px 0px;">
                        <p style="font-size: 20px; font-weight: bold; line-height: 22px; margin-bottom: 0px; margin-top: 0px;">¡Hola {{nombres}}!</p>
                        <p style="font-size: 12px; margin-bottom: 0px; margin-top: 0px;">Ingresa al siguiente link</p>
                        <p style="font-size: 12px; margin-bottom: 0px; margin-top: 0px;">para recuperar tu contraseña.</p>
                        <button 
                            style="width: 137.02px; height: 20.15px; font-size: 12px; line-height: 14px; margin-bottom: 8px; cursor: pointer; background-color: rgb(187, 139, 255); border-radius: 50rem; border: 0px;">
                            <a href="https://admin.babysos.pe/nuevo-password">Ingresar aqupí</a>
                        </button>
                        <p style="font-size: 12px; margin-bottom: 0px; margin-top: 0px;">El equipo de Baby SOS.</p>
                    </div>
                </div>
                <div style="width: 467px;">
                    <p style="font-size: 10px; text-align: justify; margin-bottom: 8px; margin-top: 0px">Recibe este servicio de correo electrónico porque se registró en una cuenta de Baby SOS. A menos que se haya registrado para recibir boletines informativos de Baby SOS, solo le enviaremos un correo electrónico si necesitamos ponernos en contacto con usted para informarle sobre cambios en su cuenta.</p>
                    <p style="font-size: 10px; text-align: center; margin-bottom: 8px; margin-top: 0px">Baby SOS nunca le pedirá que actualice la información de su cuenta de los correos electrónicos de servicio.</p>
                    <p style="font-size: 10px; text-align: center; margin-bottom: 0px; margin-top: 0px">Este correo electrónico se envía desde una cuenta automatizada que no se supervisa y, por lo tanto, no podemos responder a las respuestas a este correo electrónico. Si tiene alguna pregunta sobre su cuenta, encontrará mucha información útil en nuestra página de Preguntas frecuentes.</p>
                </div>
            </div>
            <div style="background-color:#ecd9ff; height:56px; width:600px; text-align:center;padding:18.3px 38px">
                <div style="display:flex; flex-wrap: wrap; justify-content: space-between!important;">
                    <img src='https://babysos.pe/images/barramenu/logo.png' style="width: 83.53px; height: 15.24px;"/>
                    <div style="display: flex;">
                        <img src="https://babysos.pe/images/footer/footer_facebook.png" style="width: 19.33px; height: 19.33px; margin-right: 9.3px;"/>
                        <img src="https://babysos.pe/images/footer/footer_instagram.png" style="width: 19.33px; height: 19.33px; margin-right: 9.3px;"/>
                        <img src="https://babysos.pe/images/footer/footer_linkedin.png" style="width: 19.33px; height: 19.33px; margin-right: 9.3px;"/>
                        <img src="https://babysos.pe/images/footer/footer_twitter.png" style="width: 19.33px; height: 19.33px;"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>